<h1>Listing breakers</h1>
<%= link_to 'New Breaker', new_breaker_path %><br /><br />
<%= gmaps4rails(@json) %>
  <% @breakers.each do |breaker| %>
	  <div>
		  <div style = "float:left"><p> <%= image_tag breaker.photo.url(:small) %></p> </div>
		  <div style = "float:left">
			  <p><%= breaker.breaking_name %><br />
  			  <%= breaker.name %><br />
			  <%= breaker.city %><br />
                          <%= breaker.country %><br />
			  <%= breaker.bboying_since %><br />
    		          <%= link_to 'Show', breaker %><br />
                          <%= link_to 'Edit', edit_breaker_path(breaker) %><br />
			  <%= link_to 'Destroy', breaker, method: :delete, data: { confirm: 'Are you sure?' } %><br />
				  </p>
		  </div>
	  </div>
	  
 
  

<% end %>


<br clear = "all" />

<%= link_to 'New Breaker', new_breaker_path %>
